<p><%= @tweet.content %>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" id="Delete Tweet" value="Delete Tweet">Delete Tweet</button> 
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>